<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Органы на заказ - Интернет-магазин</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }} ">
</head>
<body>

    <header>
        <h1>Органы на заказ - Шутливый магазин</h1>
    </header>

    <nav>
        <a href="#">Главная</a>
        <a href="#">Каталог</a>
        <a href="#">Контакты</a>
        <a href="#">Корзина</a>
    </nav>

    <main>
        <h1>Наши самые популярные органические товары</h1>

        {% for organ in organs %}
        <div class="organ">
            <img src="{{ organ[5] }}">
            <div class="organ-info">
                <h2>{{ organ[1] }}</h2>
                <p>Категория: {{ organ[2] }}</p>
                <p>Описание: {{ organ[3] }}</p>
                <p>Цена: {{ organ[4] }} руб.</p>
            </div>
        </div>
        {% endfor %}

    </main>

    <footer>
        <p>&copy; 2025 Органовский магазин. Все права защищены.</p>
    </footer>

</body>
</html>
